DISCORD_TOKEN=

# Google API Keys
TRANSLATOR_API_KEY=
GEMINI_API_KEY=

# ID channel spesifik, digunakan untuk mengirim pesan selamat datang dan selamat jalan
DISCORD_WELCOME_CHANNEL_ID=
# ID channel spesifik, saat ini digunakan untuk mengirim pesan sapaan otomatis
DISCORD_CHANNEL_ID=
# ID channel spesifik, digunakan untuk mencari lirik dari lagu yang sedang di putar
DISCORD_MUSIC_CHANNEL_ID=
# ID channel voice di mana bot akan diam di sini
DISCORD_VOICE_CHANNEL_ID=

# ID User Discord, saat ini digunakan untuk mengirim pesan sapaan otomatis yang lebih personal
ALSA_DC_ID=
AUNTY_DC_ID=
LUPI_DC_ID=
PIW_DC_ID=
EMMA_DC_ID=